anyio==4.13.0
async-timeout==5.0.1
blinker==1.9.0
click==8.3.3
coverage==7.13.5
exceptiongroup==1.3.1
flake8==7.3.0
Flask==3.1.3
googleapis-common-protos==1.75.0
grpcio==1.80.0
gunicorn==26.0.0
idna==3.13
importlib_metadata==8.7.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-instrumentation==0.62b1
opentelemetry-instrumentation-flask==0.62b1
opentelemetry-instrumentation-wsgi==0.62b1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
opentelemetry-util-http==0.62b1
packaging==26.2
pluggy==1.6.0
protobuf==6.33.6
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
python-json-logger==4.1.0
redis==7.4.0
tomli==2.4.1
typing_extensions==4.15.0
Werkzeug==3.1.8
wrapt==2.1.2
zipp==3.23.1
